@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fallback for important-text color switching */
[data-theme="dark"] .text-important-text {
  color: #ffbf00 !important;
}

/* Fallback for primary color switching */
[data-theme="dark"] .bg-primary {
  background-color: #ffbf00 !important;
}

/* Fallback for hover color switching */
[data-theme="dark"] .hover\:bg-indigo-300:hover {
  background-color: #ffae00b3 !important; /* Amber-300 equivalent */
}

/* Fallback for hover background color switching */
[data-theme="dark"] .hover\:bg-primary:hover {
  background-color: #ffbf00 !important; /* Amber-300 equivalent */
}

/* Fallback for text hover switching */
[data-theme="dark"] .hover\:text-primary:hover {
  color: #ffbf00 !important; /* Amber-300 equivalent */
}

/* Fallback for progress bar color switching */
[data-theme="dark"] .progress-primary {
  color: #ffbf00 !important; /* Amber-300 equivalent */
}

/* Fallback for hover text color switching */
[data-theme="dark"] .hover\:text-white:hover {
  color: #000000 !important; /* Black color */
}

/* Fallback for button text color switching */
[data-theme="dark"] .text-white {
  color: #000000 !important; /* Black color */
}

/* Fallback for border color switching */
[data-theme="dark"] .border-primary {
  border-color: #ffbf00 !important; /* Darker gray for dark mode */
}

/* Adjust gradient for dark mode */
[data-theme="dark"] .bg-gradient-to-r.from-indigo-700.to-blue-700 {
  background: linear-gradient(to right, #f59e0b, #f97316); /* amber-500 to orange-500 */
}

[data-theme="dark"] .bg-gradient-to-r.from-blue-700.to-indigo-700 {
  background: linear-gradient(to right, #f97316, #f59e0b); /* orange-500 to amber-500 for hover */
}







[data-theme] .text-secondary {
  color: #14b8a6 !important;
}
[data-theme] .bg-secondary {
  background-color: #14b8a6 !important;
}


/* Default styles for all devices (mobile-first) */
.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Small devices (tablets, ≥ 640px) */
@media (min-width: 640px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

/* Medium devices (small laptops, ≥ 768px) */
@media (min-width: 768px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

/* Large devices (desktops, ≥ 1024px) */
@media (min-width: 1024px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

/* Extra large devices (large screens, ≥ 1280px) */
@media (min-width: 1280px) {
  .container {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  section {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

/* Hide scrollbars */
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Berlin Sans FB Demi';
  src: url('./assets/fonts/BRLNSDB.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}